* {
    font-family: 'Anek Latin', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.151);
    position: fixed;
    padding-bottom: 0.3vw;
}

iframe {
    width: 65vw;
    height: 36.47vw;
}

#logo {
    text-align: center;
    background: -webkit-linear-gradient(rgb(136, 1, 75), purple, rgb(211, 52, 13)74%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    padding: 0.5vw 0;
}

#bloco-inicial {
    background: linear-gradient(45deg, rgb(216, 63, 3),#0b3c5d 65%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#texto-introducao {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    padding: 4vw 0 2.8vw;
    width: 60%;
}

#video {
    text-align: center;
    padding-bottom: 4vw;
}

#imagine {
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vw;
    justify-content: center;
    margin-top: 3vw;
}

#segundo-texto {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#voce-mais-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#text-and-checks {
    font-size: 1.5vw;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#texto-beneficios {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 2vw;
    margin-top: 3vw;
    font-size: 3vw;
}

.beneficios {
    display: flex;
    margin-top: 1.3vw;
}

.check-icon {
    color: green;
    margin-right: 0.8vw;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
#beneficios {
    margin: auto;
    width: 74%;
    margin-left: 15vw;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 2vw;
    padding-bottom: 1vw;
}  

#quadrado-dos-feedbacks-box {
    display: flex;
    justify-content: center;
    
}

#quadrado-dos-feedbacks {
    background: linear-gradient(45deg, rgb(216, 63, 3),#0b3c5d 65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    height: 32vw;
    margin-top: 7vw;
    padding-top: 1.4vw;
    width: 80%;
}

#introducao-aos-feedbacks {
    color: rgb(255, 255, 255);
    font-size: 2.3vw
}

#texto-extra {
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vw;
    justify-content: center;
    margin-top: 3vw;
}

#preco {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, rgb(216, 63, 3),#0b3c5d 65%);
    padding-bottom: 4vw;
    padding-top: 2vw;
    margin-top: 6vw;
    color: white;
    justify-content: space-between;
}

#texto-escolha {
    font-size: 3vw;
}

#quadrados {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 34.7vw;
    border: 2px solid white;
    margin-top: 3vw;
}

.preco-botao {
    height: 5vw;
    margin-top: 4vw;
    font-size: 2vw;
    width: 100%;
    border: 2px solid white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.preco-botao:hover {
    border-color: rgb(114, 100, 100);
    color: rgb(114, 100, 100);
    transition-duration: 0.3s;  
}

.quadrado-botao {
    width: 30vw;
    height: 100%;
}

#square-check {
    display: flex;
    align-items: baseline;
}

.space {
    width: 0.5vw;
}

.fa-square-check {
    font-size: 2vw;
    color: rgb(15, 201, 15);
}

.titulo-pacote {
    font-size: 3vw;
    margin-bottom: 2vw;
    margin-top: 1.5vw;
    font-family: 'Titillium Web', sans-serif;
}

.price-father {
    display: flex;
    justify-content: center;
}

.oferta1preco {
    font-size: 2.7vw;
    background-image: linear-gradient(90deg, #68abd8,#265c80);
    padding: 0.5vw 2vw;
    margin-top: -2vw;
    text-align: center;
}

.oferta1beneficios {
    margin-bottom: 0.8vw;
    font-size: 1.4vw;
    font-family: 'Kanit', sans-serif;
}

footer {
    margin-top: 5.5vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, rgb(216, 63, 3),#0b3c5d 65%);
    color: white;
}

#texto-footer {
    width: 80%;
    margin-top: 3vw;
}

#mesiga {
    font-size: 2.3vw;
}

#imagem2 {
    width: 3vw;
}

#conhecameuinstagram {
    display: flex;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.perguntas {
    display: flex;
    font-size: 2.3vw;
    margin-top: 6vw;
}

.destaque1 {
    color: rgb(216, 63, 3);
    text-decoration: underline;
}

#div-das-perguntas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45vw;
}

.icones-perguntas {
    font-size: 10vw;
}

.titulo-perguntas {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}

#div-maior-div-das-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-perguntas p {
    font-size: 1.6vw;
    margin-top: 1vw;
}

#instagram {
    margin-left: 1vw;
    font-size: 1.5vw;
}

#botao-final {
    width: 20vw;
    color: white;
    background-image: linear-gradient(90deg,rgb(216, 63, 3),#0b3c5d);
    border: none;
    background-size: 500%;
    height: 5vw;
    border-radius: 25px;
    font-size: 1.5vw;
    cursor: pointer;
    transition-duration: 1.5s;
}

section {
    text-align: center;
    margin-top: 5vw;
}

#botao-final:hover {
    background-position-x: right;
    transition-duration: 1.5s;
    box-shadow: 2px 2px 5px gray;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

a {
    color: white;
}

.father-part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.part-splide {
    border: 2px solid white;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-splide img {
    margin-top: 2vw;
    border-radius: 50%;
}

.part-splide p {
    width: 90%;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-size: 1vw;
}

.splide__arrow {
    background-color: transparent;
    width: 40vw;
    height: 28vw;
    border-radius: 0;
}

.splide__arrow svg {
    fill: white;
    height: 5vw;
    width: 5vw;
}

.splide__pagination {
    bottom: -3.5vw;
}

.splide__pagination__page {
    width: 0.5vw;
    height: 0.5vw;
}